---
import CarouselProps from "../../components/CarouselProps.astro";
import MenuContent from "../../components/MenuContent.astro";
import SectionProps from "../../components/SectionProps.astro";
import Transitions from "../../components/Transitions";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Klas Näsman / Project">
    <nav class="menu">
        <MenuContent />
    </nav>
    <section class="section">
        <Transitions client:load>
            <div class="carousel__container">
                <SectionProps
                    title="Hestra"
                    content="Anna och Mathias gifte sig den 9 augusti 2018. Bröllopet ägde rum på vackra Muskö i Stockholms skärgård"
                />
                <div class="carousel__content">
                    <CarouselProps
                        src="/src/assets/img/gudmar.1280.jpg"
                        alt="Gudmar in Riksgränsen"
                        srcset=""
                    />
                    <CarouselProps
                        src="/src/assets/img/gudmar2.1280.jpg"
                        alt="Gudmar in Riksgränsen portrait"
                        srcset=""
                    />
                    <CarouselProps
                        src="/src/assets/img/toro.1280.jpg"
                        alt="Torö Stenstrand"
                        srcset=""
                    />
                </div>
            </div>
        </Transitions>
    </section>
</Layout>
