/* global */
html {
    overflow: hidden;
}

body {
    font-family: var(--ff-body);
    font-size: var(--step--1);
    background-color: var(--clr-bg);
}

main {
    display: flex;
    min-height: 100dvh;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
}

main>* {
    flex-grow: 1;
    flex-basis: 50%;
}

main .section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    main .section {
        justify-content: flex-start;
        max-height: 40svh;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    order: 2;
    position: relative;
    height: 100dvh;
    height: 100svh;
    padding: var(--spacer-l);
    border-left: 1px solid;
    z-index: 1;
}

@media (max-width: 800px) {
    .menu {
        border-left: 0px;
    }
}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: var(--spacer-m);
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
}

@media (max-width: 800px) {
    .menu__ul {
        overflow-y: scroll;
        max-height: 50svh;
    }
}

.menu__li {
    width: 50%;
    flex-basis: 50%;
    padding-right: 1rem;
    margin-top: var(--spacer-s);
    margin-bottom: var(--spacer-s);
}

/* header and carousel toggle */
header {
    position: relative;
    padding-bottom: var(--spacer-m);
}

.header__toggle,
.project__toggle {
    display: inline-block;
    border: none;
    outline: none !important;
    background-color: inherit;
    text-decoration: none;
    color: var(--clr-text);
    z-index: 10;
}

.header__toggle:after,
.project__toggle:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--clr-text);
    transition: width 0.3s ease-in-out;
}

.header__toggle:hover:after,
.project__toggle:hover:after {
    width: 0%;
}

.header__toggle:hover+.header__dropdown,
.project__toggle:hover+.project__dropdown {
    opacity: 1;
    visibility: visible;
}

.header__dropdown {
    position: absolute;
    top: 100%;
    height: 100dvh;
    left: 0;
    right: -1px;
    visibility: hidden;
    opacity: 0;
    background-color: var(--clr-bg);
    transition: all 0.3s;
}

.header__dropdown p {
    padding-top: var(--spacer-s);
}


.project__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    z-index: 1;
    width: 100%;
    padding: 2rem 2rem;
    top: 0;
    left: 0;
}

.project__info p {
    z-index: 10;
}

.project__pagination {
    position: absolute;
    z-index: 1;
    padding: 2rem 2rem;
    text-align: right;
    top: 0;
    right: 0;
}

@media (max-width: 800px) {
    .project__info {
        padding: 1rem;
        top: 0rem;
    }

    .project__pagination {
        padding: 1rem;
    }
}

.project__dropdown {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 100%;
    left: 0;
    right: -1px;
    visibility: hidden;
    opacity: 0;
    background-color: var(--clr-bg);
    transition: all 0.3s;
    z-index: 8;
}

.project__dropdown p {
    padding: 6.2rem 2rem;
}

@media (max-width: 800px) {
    .project__dropdown p {
        padding: 4rem 1rem;
    }
}

/* typography and link hover */
a {
    display: inline-block;
    color: var(--clr-text);
    text-decoration: none;
}

p {
    color: var(--clr-text);
}

.link a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: var(--clr-text);
    transition: width 0.3s ease-in-out;
}

.link a:hover:after {
    width: 100%;
}

.link a:before {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: var(--clr-text);
    transition: width 0.3s ease-in-out;
}

.link a:hover:before {
    width: 100%;
}

/* mask overflow */
.mask-top {
    content: "";
    top: -3px;
    position: sticky;
    height: 0px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0 5px 6px var(--clr-bg);
}

.mask-bottom {
    content: "";
    bottom: -14px;
    position: sticky;
    height: 0px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0 5px 8px var(--clr-bg);
}