::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-right: 1px solid black;
}

::-webkit-scrollbar-track {
    background: transparent;
}

:root {
    /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.25,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step-0: clamp(0.75rem, 0.525rem + 0.4vw, 0.875rem);
    --step-1: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --step-2: clamp(1.25rem, calc(1.14rem + 0.54vw), 1.56rem);
    --step-3: clamp(1.56rem, calc(1.43rem + 0.68vw), 1.95rem);

    --ff-body: 'Domaine Sans Text', 'Bergen Mono', 'Verdana', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --spacer-xs: 0.25rem;
    --spacer-s: 0.5rem;
    --spacer-m: 1rem;
    --spacer-l: 2rem;

    --focus-color: rgb(255, 237, 115);

    --clr-bg: #f1f1f0;
    --clr-text: black;
}

@media (max-width: 800px) {
    :root {
        --spacer-l: 1rem;
    }
}

html[data-theme="light"] {
    --clr-bg: #f1f1f0;
    --clr-text: black;
}

html[data-theme="dark"] {
    --clr-bg: #0c0c0c;
    --clr-text: #f1f1f0;
}
