---
import SwiperProps from "../components/SwiperProps.astro";
import MenuContent from "../components/MenuContent.astro";
import ProjectProps from "../components/ProjectProps.astro";
import Transitions from "../components/Transitions";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Klas Näsman">
    <nav class="menu">
        <MenuContent />
    </nav>
    <section class="section">
        <Transitions client:load>
            <ProjectProps
                title="PORTFOLIO"
                content="A mix of pictures from personal and commissioned work"
            />
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <SwiperProps
                        src="/assets/gudmar.1280.jpg"
                        alt="Gudmar in Riksgränsen"
                    />
                    <SwiperProps
                        src="/assets/gudmar2.1280.jpg"
                        alt="Gudmar in Riksgränsen"
                    />
                    <SwiperProps
                        src="/assets/toro.1280.jpg"
                        alt="Torö Stenstrand"
                    />
                    <SwiperProps
                        src="/assets/annamathias.jpg"
                        alt="Wedding photo"
                    />
                    <SwiperProps src="/assets/indien.jpg" alt="India" />
                    <SwiperProps
                        src="/assets/smitingen.1280.png"
                        alt="Smitingen, Härnösand"
                    />
                    <SwiperProps
                        src="/assets/lisaalex.jpg"
                        alt="Wedding photo"
                    />
                    <SwiperProps
                        src="/assets/lisaalex3.jpg"
                        alt="Wedding photo"
                    />
                    <SwiperProps
                        src="/assets/emmajonas2.jpg"
                        alt="Wedding photo"
                    />
                    <SwiperProps
                        src="/assets/emmajonas3.jpg"
                        alt="Wedding photo"
                    />
                </div>
            </div>
        </Transitions>
    </section>
</Layout>
