---
import MenuContent from "../../components/MenuContent.astro";
import ProjectProps from "../../components/ProjectProps.astro";
import Transitions from "../../components/Transitions";
import Layout from "../../layouts/Layout.astro";
const photos = await Astro.glob("/public/assets/wedding/anna-mathias/*");
---

<Layout title="Klas Näsman / Anna + Mathias">
  <nav class="menu">
    <MenuContent />
  </nav>
  <section class="project">
    <Transitions client:load>
      <ProjectProps
        title="ANNA + MATHIAS"
        info="Anna och Mathias gifte sig den 9 augusti 2018. Bröllopet ägde rum på vackra Muskö i Stockholms skärgård"
      />
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {
            photos.map(({ default: photo }) => (
              <div class="slider-item swiper-slide">
                <div class="slider-image-wrapper">
                  <img class="slider-image" src={photo} alt="" />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </Transitions>
  </section>
</Layout>
