---
export interface Props {
    src: string;
    alt: string;
    srcset: string;
}

const { src, alt, srcset } = Astro.props;
---

<div class="carousel__cell">
    <img class="carousel__img" src={src} alt={alt} srcset={srcset} />
</div>
