---
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="header">
    <p>KLAS NÄSMAN is a Stockholm–based Photographer & filmmaker.</p>
    <button class="header__toggle">About</button>
    <div class="header__dropdown">
        <p>
            Klas has Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus egestas eget dolor et tempus. Nunc ut velit eu lacus iaculis
            suscipit quis ut nisi. Donec nec ultricies odio. Sed dictum, est et
            fringilla pretium, nisi erat congue nulla, id consequat tellus
            sapien nec mauris. Proin bibendum iaculis neque, in eleifend arcu
            varius sed. Morbi ac ante tortor. Maecenas sed purus aliquet,
            consequat nunc egestas, faucibus lectus. Ut quis pulvinar orci.
            Aliquam quis elit ipsum. Morbi porta lacinia sem, eu laoreet elit
            luctus et.
        </p>
    </div>
</header>
