---
import Header from "./Header.astro";
import MenuProps from "./MenuProps.astro";
---

<Header />
<ul class="menu__ul">
  <div class="box-top"></div>
  <MenuProps href="/projects/hestra" title="Lorem Ipsum" info="Photography" />
  <MenuProps
    href="/projects/fjallraven"
    title="Fjällräven"
    info="Photography + Film"
  />
  <MenuProps href="/projects/hestra" title="Places" info="Personal project" />
  <MenuProps href="/personal/people" title="People" info="Personal project" />
  <MenuProps href="/projects/hestra" title="Erik + Tove" info="Wedding" />
  <MenuProps
    href="/wedding/anna-mathias"
    title="Anna + Mathias"
    info="Wedding"
  />
  <MenuProps href="/" title="About you x Adidas" info="Wedding" />
  <MenuProps href="/" title="Under Armour" info="Photography" />
  <MenuProps href="/" title="Husqvarna" info="Wedding" />
  <MenuProps href="/" title="Husqvarna" info="Wedding" />
  <MenuProps href="/" title="Åka Snowboard" info="Wedding" />
  <MenuProps href="/" title="Ikea" info="Wedding" />
  <MenuProps href="/" title="Lorem Ipsum" info="Wedding" />
  <MenuProps href="/" title="Test" info="Wedding" />
  <MenuProps href="/" title="Under Armour" info="Wedding" />
  <MenuProps href="/" title="Poc OBEX" info="Wedding" />
  <MenuProps href="/" title="Åka Snowboard" info="Wedding" />
  <MenuProps href="/" title="Under Armour" info="Wedding" />
  <MenuProps href="/" title="Under Armour" info="Film" />
  <MenuProps href="/" title="Stockholm Exergi" info="Photography" />
  <MenuProps href="/" title="People" info="Personal project" />
  <MenuProps href="/" title="Volkswagen" info="Art direction" />
  <div class="box-bottom"></div>
</ul>
