---
import Header from "./Header.astro";
import MenuProps from "./MenuProps.astro";
---

<Header />
<ul class="menu__ul">
    <div class="box-top"></div>
    <MenuProps href="/projects/hestra" title="Hestra" content="Photography" />
    <MenuProps
        href="/projects/fjallraven"
        title="Fjällräven"
        content="Photography + Film"
    />
    <MenuProps
        href="/projects/hestra"
        title="Places"
        content="Personal project"
    />
    <MenuProps
        href="/personal/people"
        title="People"
        content="Personal project"
    />
    <MenuProps href="/projects/hestra" title="Erik + Tove" content="Wedding" />
    <MenuProps
        href="/wedding/anna-mathias"
        title="Anna + Mathias"
        content="Wedding"
    />
    <MenuProps href="/" title="About you x Adidas" content="Wedding" />
    <MenuProps href="/" title="Under Armour" content="Photography" />
    <MenuProps href="/" title="Husqvarna" content="Wedding" />
    <MenuProps href="/" title="Husqvarna" content="Wedding" />
    <MenuProps href="/" title="Åka Snowboard" content="Wedding" />
    <MenuProps href="/" title="Ikea" content="Wedding" />
    <MenuProps href="/" title="Lorem Ipsum" content="Wedding" />
    <MenuProps href="/" title="Test" content="Wedding" />
    <MenuProps href="/" title="Under Armour" content="Wedding" />
    <MenuProps href="/" title="Poc OBEX" content="Wedding" />
    <MenuProps href="/" title="Åka Snowboard" content="Wedding" />
    <MenuProps href="/" title="Under Armour" content="Wedding" />
    <MenuProps href="/" title="Under Armour" content="Film" />
    <MenuProps href="/" title="Stockholm Exergi" content="Photography" />
    <MenuProps href="/" title="People" content="Personal project" />
    <MenuProps href="/" title="Volkswagen" content="Art direction" />
    <div class="box-bottom"></div>
</ul>
