---
export interface Props {
    title: string;
    info: string;
    href: string;
}

const { href, title, info } = Astro.props;
---

<li class="menu__li link">
    <a class="menu__a" href={href}>
        <p class="menu__p">
            {title}
        </p>
        <em>
            {info}
        </em>
    </a>
</li>
