---
export interface Props {
    title: string;
    content: string;
}

const { title, content } = Astro.props;
---

<div class="project__info">
    <p>{title}</p>
    <button class="project__toggle">Info</button>
    <div class="project__dropdown">
        <p set:html={content} />
    </div>
    <div class="project__pagination">
        <div class="swiper-pagination"></div>
        <div class="swiper__buttons">
            <button class="swiper-button-prev">Prev</button>
            <button class="swiper-button-next">Next</button>
        </div>
    </div>
</div>
