---
export interface Props {
    src: string;
    alt: string;
}

const { src, alt } = Astro.props;
---

<div class="slider-item swiper-slide">
    <div class="slider-image-wrapper">
        <img class="slider-image" src={src} alt={alt} />
    </div>
</div>
