---
import SwiperProps from "../../components/SwiperProps.astro";
import MenuContent from "../../components/MenuContent.astro";
import ProjectProps from "../../components/ProjectProps.astro";
import Transitions from "../../components/Transitions";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Klas Näsman / Hestra">
    <nav class="menu">
        <MenuContent />
    </nav>
    <section class="projects">
        <Transitions client:load>
            <ProjectProps
                title="HESTRA"
                content="Anna och Mathias gifte sig den 9 augusti 2018.<br> Bröllopet ägde rum på vackra Muskö i Stockholms skärgård"
            />
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <SwiperProps
                        src="/assets/gudmar.1280.jpg"
                        alt="Gudmar in Riksgränsen"
                    />
                    <SwiperProps
                        src="/assets/gudmar2.1280.jpg"
                        alt="Gudmar in Riksgränsen"
                    />
                    <SwiperProps
                        src="/assets/gudmar.1280.jpg"
                        alt="Gudmar in Riksgränsen"
                    />
                </div>
            </div>
        </Transitions>
    </section>
</Layout>
