@font-face {
    font-family: 'Brown';
    src: url('https://files.cargocollective.com/c169834/Brown-Regular.eot');
    src: url('https://files.cargocollective.com/c169834/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://files.cargocollective.com/c169834/Brown-Regular.woff2') format('woff2'),
        url('https://files.cargocollective.com/c169834/Brown-Regular.woff') format('woff'),
        url('https://files.cargocollective.com/c169834/Brown-Regular.ttf') format('truetype'),
        url('https://files.cargocollective.com/c169834/Brown-Regular.svg#Brown-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('https://files.cargocollective.com/c169834/Brown-Light.eot');
    src: url('https://files.cargocollective.com/c169834/Brown-Light.eot?#iefix') format('embedded-opentype'),
        url('https://files.cargocollective.com/c169834/Brown-Light.woff2') format('woff2'),
        url('https://files.cargocollective.com/c169834/Brown-Light.woff') format('woff'),
        url('https://files.cargocollective.com/c169834/Brown-Light.ttf') format('truetype'),
        url('https://files.cargocollective.com/c169834/Brown-Light.svg#Brown-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domaine Sans Text';
    src: url('https://files.cargocollective.com/c169834/DomaineSansText-Light.eot');
    src: url('https://files.cargocollective.com/c169834/DomaineSansText-Light.eot?#iefix') format('embedded-opentype'),
        url('https://files.cargocollective.com/c169834/DomaineSansText-Light.woff2') format('woff2'),
        url('https://files.cargocollective.com/c169834/DomaineSansText-Light.woff') format('woff'),
        url('https://files.cargocollective.com/c169834/DomaineSansText-Light.ttf') format('truetype'),
        url('https://files.cargocollective.com/c169834/DomaineSansText-Light.svg#DomaineSansText-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bergen Mono';
    src: url('https://files.cargocollective.com/c169834/BergenMono-Regular.eot');
    src: url('https://files.cargocollective.com/c169834/BergenMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://files.cargocollective.com/c169834/BergenMono-Regular.woff2') format('woff2'),
        url('https://files.cargocollective.com/c169834/BergenMono-Regular.woff') format('woff'),
        url('https://files.cargocollective.com/c169834/BergenMono-Regular.svg#BergenMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}